<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>IBMPlexSansDevanagari-Bold.ttf</string>
		<string>IBMPlexSansDevanagari-Regular.ttf</string>
		<string>IBMPlexSansDevanagari-Light.ttf</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone2</string>
</dict>
</plist>
